<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.tingshu.album.mapper.TrackInfoMapper">

    <select id="selectUserTrackPage" resultType="com.atguigu.tingshu.vo.album.TrackListVo">
        select album.id as albumId,
        album.album_title,
        track.id as trackId,
        track.track_title,
        track.media_duration,
        if(track.cover_url is null or track.cover_url = '', album.cover_url, track.cover_url) as coverUrl,
        track.status,
        track.create_time as createTime,
        MAX(IF(stat.stat_type = '0701', stat.stat_num, 0)) as playStatNum,
        MAX(IF(stat.stat_type = '0702', stat.stat_num, 0)) as collectStatNum,
        MAX(IF(stat.stat_type = '0703', stat.stat_num, 0)) as praiseStatNum,
        MAX(IF(stat.stat_type = '0704', stat.stat_num, 0)) as commentStatNum
        from track_info track
        left join track_stat stat on stat.track_id = track.id
        left join album_info album on album.id = track.album_id
        <where>
            <if test="vo.userId!=null">
                track.user_id=#{vo.userId}
            </if>
            <if test="vo.status!=null and vo.status!=''">
                and track.status = #{vo.status}
            </if>
            <if test="vo.trackTitle!=null and vo.trackTitle !=''">
                and track.track_title like concat('%',#{vo.trackTitle},'%')
            </if>
            and track.is_deleted = 0
        </where>
        group by track.id
        order by track.id desc
    </select>

    <update id="updateTrackNum">
        update track_info
        set order_num = order_num - 1
        where album_id = #{albumId}
          and order_num > #{orderNum}
          and is_deleted = 0
    </update>

    <select id="selectAlbumTrackPage" resultType="com.atguigu.tingshu.vo.album.AlbumTrackListVo">
        select info.trackId,
               info.trackTitle,
               info.mediaDuration,
               info.orderNum,
               info.createTime,
               MAX(IF(info.statType = '0701', info.statNum, 0)) as playStatNum,
               MAX(IF(info.statType = '0704', info.statNum, 0)) as commentStatNum
        from (select track.id             as trackId,
                     track.track_title    as trackTitle,
                     track.media_duration as mediaDuration,
                     track.order_num      as orderNum,
                     track.create_time    as createTime,
                     stat.stat_type       as statType,
                     stat.stat_num        as statNum
              from track_info track
                       left join track_stat stat on stat.track_id = track.id
              where track.album_id = #{albumId}
                and track.is_open = '1'
                and track.status = '0501') info
        group by info.trackId
        order by info.orderNum asc
    </select>

    <update id="updateStat">
        update track_stat
        set stat_num = stat_num + #{count}
        where track_id = #{trackId}
          and stat_type = #{statType}
    </update>


</mapper>

